.header__contacto{
    margin: 10.5rem 1.5rem 0;
}
.contacto{
    height: 100%;
    width: 100%;
    padding: 0.1rem 0 0;
    background: -webkit-linear-gradient(#FAFAF8, #FFFFFF);
    background: -o-linear-gradient(#FAFAF8, #FFFFFF);
    background: linear-gradient(#FAFAF8, #FFFFFF);
}
.rrss__contacto{
    margin: 2.2rem 0 0;
    &--list{
        padding: 0;
        margin: 0;
    }
    &--item{
        list-style: none;
        padding-right: 3.3rem;
        display: inline-block;
    }
}
