.menu{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background: -webkit-linear-gradient(#FAFAF8, #FFFFFF);
    background: -o-linear-gradient(#FAFAF8, #FFFFFF);
    background: linear-gradient(#FAFAF8, #FFFFFF);
    height: 100%;
    width: 100%;
    z-index: 999;
    -webkit-transition: -webkit-transform 0.9s;
    transition: transform 0.9s;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    &--show{
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);
    }
    &--list{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    &--content{
        padding: 45% 2.2rem 0;
    }
}
.rrss__menu{
    padding: 2.2rem 2.2rem 55%;
    &--list{
        padding: 0;
        margin: 0;
    }
    &--item{
        list-style: none;
        padding-right: 3.3rem;
        display: inline-block;
    }
}
.terminos p{
    margin: 1.1rem 1.5rem 0;
    padding-bottom: 2.2rem;
    font-size: 1.2rem;
    color: white;
}
