.topnav{
    height: 6.6rem;
    width: 100%;
    background-color: #fafaf8;
    border-bottom: 0.1rem solid #c5c5c5;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}
.logo{
    position: absolute;
    top: 20%;
    left: 5%;
}
.button{
    display: inline-block;
    position: absolute;
    top: 1.3rem;
    right: 1.3rem;
    background: #FAFAF8;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    text-align: center;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    &--nav{
        display: inline-block;
        margin: 1rem 0;
    }
}
.button--vert{
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
}
.bar{
    display: block;
    vertical-align: middle;
    height: 0.3rem;
    width: 2rem;
    background: black;
    margin-bottom: 0.5rem;
}
.navigation {
    display: flex;
    flex-direction: row;
    text-align: center;
    height: 100%;
    &__list {
        width: 100%;
        padding: 2.2rem 0;
    }
    a{
        text-decoration: none;
    }
    &__item {
        background-color: #fafaf8;
        color: black;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 700;
        font-size: 1.6rem;
        margin: 0 2.4rem;
        padding: 0;
        border: none;
        cursor: pointer;
        &:hover {
            //font-weight: 900;
            color: #FF7F00;
        }
        &:active {
            //font-weight: 900;
            color: #FF7F00;
        }
    }
}
@media screen and (max-width: 767px) {
    .navigation{
        display: none;
    }
}
@media screen and (min-width: 768px) {
    .button{
        display: none;
    }
}
