html{ font-size: 62.5%;
    @media screen and (min-width: 900px) {
        font-size: 18px;
    }
}
body{
    font-size: 16px; font-size: 1.6rem; /* =16px */
    margin: 0;
    -webkit-font-smoothing:antialiased !important;
}
img {
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
a:link {color:black;}
a:visited {color:#0000ff;}
a:hover {color:#FF7F00;}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
p{
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 2.2rem;
    margin: 0;
}
@media screen and (min-width: 992px) {
    p{
        font-size: 1.8rem;
        line-height: 2.4rem;
    }
}

h1{
    font-size: 36px; font-size: 3.6rem;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    color: #3D3B40;
    line-height: 5.5rem;
    margin: 2.2rem 0;
}
h2{
    font-size: 28px; font-size: 2.8rem;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 900;
    line-height: 4.4rem;
    margin: 2.2rem 0;
}
h3{
    font-size: 24px; font-size: 2.4rem;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    line-height: 3.3rem;
    margin: 2.2rem 0;
}
h4{
    font-size: 16px; font-size: 1.6rem;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    line-height: 2.2rem;
    margin: 2.2rem 0;
}
h5{
    font-size: 16px; font-size: 1.6rem;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 2.2rem;
    margin: 2.2rem 0;
}
h6{
    font-size: 16px; font-size: 1.6rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    line-height: 2.2rem;
    margin: 2.2rem 0;
}
@media screen and (min-width: 768px) {
    h1{
        font-size: 4rem;
        line-height: 6rem;
    }
    h2{
        font-size: 3.1rem;
        line-height: 4.8rem;
        margin-top: 0;
    }
    h3{
        font-size: 2.6rem;
        line-height: 3.8rem;
    }
    h4{
        font-size: 1.8rem;
        line-height: 2.4rem;
    }
    h5{
        font-size: 1.8rem;
        line-height: 2.4rem;
    }
    h6{
        font-size: 1.8rem;
        line-height: 2.4rem;
    }

}
